@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
    --breakpoint-nav: 1000px;
    --color-dark-mode: #fff;
    --color-brand-primary: #5EFC8D;
    --color-brand-secondary: #263038;
    --color-brand-accent: #00cfe0;
    --nav-height: 140px;
}

/* Frosted Blue = #8EDCE6 */
