@import "tailwindcss";

@theme {
    --breakpoint-nav: 1000px;
    --color-dark-mode: #fff;
    --color-brand-primary: #00747f;
    --color-brand-secondary: #263038;
    --color-brand-accent: #00cfe0;
    --nav-height: 140px;
}
